<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Sport to zdrowie!</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/bmi">BMI<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/caloriecalculator">Kalkulator kalorii</a>
            </li>
        </ul>
    </div>
</nav>

<h3 align="center">Twój wynik to:</h3>
<br>
<p th:text="${bmi}" align="center" style="font-size: 25px" ></p>
<br>
<div class="text-center">
<a href="/bmi">Powrót</a>
</div>

<br><br><br>
<p align="center" style="font-size: 20px">Zakresy wartości BMI:<br><br>

    mniej niż 16 - wygłodzenie<br>
    16 - 16.99 - wychudzenie<br>
    17 - 18.49 - niedowaga<br>
    18.5 - 24.99 - wartość prawidłowa<br>
    25 - 29.99 - nadwaga<br>
    30 - 34.99 - I stopień otyłości<br>
    35 - 39.99 - II stopień otyłości<br>
    powyżej 40 - otyłość skrajna</p>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
